<footer class="site-footer">

  <div class="wrapper">
    
    <div class="footer-content">
      <h3>follow me</h3>
      <p>I don't just takes photos of quality street art. I also enjoy street photography, travel photography, graphic art, and web design.</p>
      <p>I've created a few other portfolio websites to showcase some of my other interests. Please check out the links below to see for yourself.</p>
      <p>Thanks for visiting.</p>
      <p>Subscribe <a href="{{"/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    
      <div class="footer-social">
        <ul>
          <li>
            <a href="https://www.twitter.com/{{site.twitter_username}}">
              <img src="/images/twitter.svg" alt="twitter logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.github.com/{{site.github_username}}">
              <img src="/images/github.svg" alt="github logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.behance.net/{{site.behance_username}}">
              <img src="/images/behance.svg" alt="behance logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/59522351@N05//{{site.flickr_username}}">
              <img src="/images/flickr.svg" alt="flickr logo" width="50">
            </a>
          </li>
        </ul>
        <span>Website &copy; of <a href="http://www.darrellchaddock.com">darrellchaddock.com</a></span>
                 
                 
      </div><!-- .footer-social -->
    </div><!-- .footer-content -->   
        
  </div><!-- wrapper -->

</footer>
