<footer class="site-footer">

  <div class="wrapper">
    
    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>I'll be putting someting in here when I decise what it will be.
      For the time being this dummy text will just have to do. I'm sure it'll do   it's job just fine.</p> 
      <p>Subscribe <a href="{{"/feed.xml" | prepend: site.baseurl}}">via RSS</a></p>
    
      <div class="footer-social">
        <ul>
          <li>
            <a href="https://www.twitter.com/{{site.twitter_username}}">
              <img src="/images/twitter.svg" alt="twitter logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.github.com/{{site.github_username}}">
              <img src="/images/github.svg" alt="github logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.behance.net/{{site.behance_username}}">
              <img src="/images/behance.svg" alt="behance logo" width="50">
            </a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/59522351@N05//{{site.flickr_username}}">
              <img src="/images/flickr.svg" alt="flickr logo" width="50">
            </a>
          </li>
        </ul>
        
      </div><!-- .footer-social -->
    </div><!-- .footer-content -->   
        
  </div><!-- wrapper -->

</footer>
